<mat-toolbar>
  <a mat-icon-button routerLink="/assortment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span>Заказ</span>
</mat-toolbar>

<mat-list>
  <mat-list-item *ngFor="let item of list()">
    <span matListItemTitle>{{ item.item.name }}</span>
    <span matListItemLine>{{ item.amount }}
      <button mat-icon-button (click)="removeItem(item.item)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </span>
  </mat-list-item>
</mat-list>

<mat-form-field appearance="outline">
  <textarea
    matInput
    placeholder="Коментар"
    ngModel
    (ngModelChange)="setComment($event)"
  ></textarea>
</mat-form-field>

<a routerLink="/order-number">
  <mat-toolbar class="submit">
    <span>{{ total() }}грн Далі</span>
  </mat-toolbar>
</a>
