<mat-tab-group
  [backgroundColor]="'primary'"
  [selectedIndex]="selectedTab()"
  (selectedIndexChange)="selectedTab.set($event)"
  [class.green]="tabs[selectedTab()].value === AssortmentItemType.Drinks"
  [class.brown]="tabs[selectedTab()].value === AssortmentItemType.Coffee"
  [class.pink]="tabs[selectedTab()].value === AssortmentItemType.Food"
>
  <mat-tab *ngFor="let tab of tabs" [label]="tab.tab">
    <section
      *ngFor="let group of menu$[tab.value] | async"
      [class.classic]="group.group === AssortmentGroup.Classic"
      [class.without-milk]="group.group === AssortmentGroup.WithoutMilk"
      [class.coconut-milk]="group.group === AssortmentGroup.CoconutMilk"
      [class.almond-milk]="group.group === AssortmentGroup.AlmondMilk"
      [class.lemonade]="group.group === AssortmentGroup.Lemonade"
      [class.tea]="group.group === AssortmentGroup.Tea"
      [class.sweet]="group.group === AssortmentGroup.Sweet"
      [class.salty]="group.group === AssortmentGroup.Salty"
      [class.non-group]="group.group === ''"
    >
      <header>{{ groupNames[group.group] }}</header>
      <main>
        <div *ngFor="let item of group.items">
          <figure (click)="addItemToCart(item)">
            <mat-card
              [matBadge]="cart().get(item.id)"
              matBadgePosition="above before"
              matBadgeColor="warn"
              [style.background-color]="item.background_color"
            >
              <mat-card-content>{{ item.name }}</mat-card-content>
            </mat-card>
            <figcaption>
              <span class="value">{{ item.price }}</span>
              <span class="currency">грн</span>
            </figcaption>
          </figure>
        </div>
      </main>
    </section>
  </mat-tab>
</mat-tab-group>
<a mat-fab color="primary" routerLink="/order">
  <mat-icon>shopping_cart</mat-icon>
</a>
