<mat-toolbar>
  <a mat-icon-button routerLink="/order">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span>Номер заказу</span>
  <div class="fake-icon"></div>
</mat-toolbar>

<mat-form-field appearance="outline">
  <input
    matInput
    placeholder="Номер заказу"
    autofocus
    type="number"
    ngModel
    (keyup)="$event.key === 'Enter' ? submitOrder() : null"
    (ngModelChange)="setOrderNumber($event)"
  />
</mat-form-field>
<button mat-fab color="primary" type="submit" (click)="submitOrder()">
  <mat-icon>send</mat-icon>
</button>
